.nav {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.nav__list {
  display: flex;
  margin-left: 4vw;
  list-style: none;
}

.nav__list_item {
  margin-left: 8vw;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.3s;
  font-size: calc(0.8rem + 0.5vh);
}

.nav__list_item:hover {
  opacity: 1;
}
